<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>

<div class="title">Title :<%= @post.title %></div>

<div class="body">Body :<%= @post.body %></div>

<%= link_to "Edit |", edit_post_path(@post), class: 'edit_#{id}' %>
<%= link_to "Back", "http://localhost:3000/posts", class: 'back' %>

